<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Member name</th>
        <th>Clubs</th>
      </tr>
    </thead>
    <tbody>
      <% @members.each do |member| %>
        <tr>
          <td><%= link_to "#{member.first_name} #{member.last_name}", member_path(member) %></td>
          <td>#Club</td>
        </tr>
      <% end %>
  </table>

</div>